[submodule "neptune-notebook.js"]
	path = neptune-notebook.js
	url = https://github.com/KinanBab/neptune-notebook.js.git
[submodule "carousels"]
	path = carousels
	url = git@github.com:multiparty/carousels.git
